



.mphb-adults-wrapper, .mphb-check-children-date-wrapper {
  width: 50%;
  float: left;
}

.mphb_sc_search-form {
  .mphb_sc_search-adults, .mphb_sc_search-children {
    float: left;
    max-width: 170px;
    width: 50%;
  }
  .mphb_sc_search-adults {
    padding-right: 0.625em;
  }
  .mphb_sc_search-children {
    padding-left: 0.625em;
  }
  .mphb_sc_search-submit-button-wrapper {
    clear: both;
  }
}

.mphb-booking-form {

  .mphb-reserve-btn {
    padding: 1.3em 3.4em;
    height: auto;
  }
  .mphb-adults-wrapper, .mphb-check-children-date-wrapper {
    float: left;
    max-width: 170px;
    width: 50%;
  }
  .mphb-adults-wrapper {
    padding-right: 0.625em;
  }
  .mphb-check-children-date-wrapper {
    padding-left: 0.625em;
  }
  .mphb-reserve-btn-wrapper {
    clear: both;
  }

}

input[type='text'].mphb-datepick.is-datepick {
  padding-right: 1.7em;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../images/calendar-o.svg);
  background-repeat: no-repeat;
  background-position: right 0.4em top 0.6em;
  @include background-size(1rem);
}

.mphb-required-fields-tip {
  color: $color__gray;
  small {
    @include font-size($font-size__sm);
    line-height: ($line-height__sm);
  }
}

.widget {
  .mphb-required-fields-tip {
    small {
      @include font-size(12/16);
      line-height: (18/12);
    }
  }
  .mphb_widget_search-adults, .mphb_widget_search-children {
    float: left;
    max-width: 170px;
    width: 50%;
  }
  .mphb_widget_search-adults {

    padding-right: 0.714em;
  }
  .mphb_widget_search-children {
    padding-left: 0.714em;
  }
  .mphb_widget_search-submit-button-wrapper {
    clear: both;
  }
}

/*.th-conversion fieldset, .th-conversion div, .th-conversion .frm_form_field, .th-conversion .frm_submi .mphb-hide{
  display: none !important;
}*/


/****************
HOTEL / BOOKING FORM / Bellevue Custom Styling
****************/


/* All form fields */
.mphb_sc_booking_form-wrapper input, .mphb_sc_checkout-wrapper input{
  width:auto;
}

// Required tips
.mphb-required-fields-tip{
  text-align: left;
}

// Calendar popup fields
.th-conversion .frm_form_field{
  text-align: left;
}

.th-conversion .mphb_sc_search-adults.frm_form_field,
.th-conversion .mphb_sc_search-children.frm_form_field{
  text-align: inherit;
}

// Adult Child Select Dropdowns
.mphb-check-in-date-wrapper.frm_form_field label,
.mphb-check-out-date-wrapper.frm_form_field label,
.mphb-adults-wrapper.frm_form_field label,
.mphb-check-children-date-wrapper.frm_form_field label{
  margin-top:5px;
}

.mphb_sc_booking_form-wrapper .mphb-adults-wrapper.frm_form_field,
.mphb_sc_booking_form-wrapper .mphb-check-children-date-wrapper.frm_form_field {
  clear: none;
  width: auto;
}

// Just the child dropdown
.mphb-booking-form .mphb-check-children-date-wrapper {
  padding-left: 0em;
}

// Conversion styles / Adult Chlid dropdowns
.th-conversion .mphb_sc_booking_form-wrapper .mphb-adults-wrapper.frm_form_field,
.th-conversion .mphb_sc_booking_form-wrapper .mphb-check-children-date-wrapper.frm_form_field {
  width: auto;
  float: none;
  padding:0;
}

.th-conversion div.mphb-hide{
  display: none !important;
}

.th-conversion form .mphb-check-in-date-wrapper.frm_form_field label,
.th-conversion form .mphb-check-out-date-wrapper.frm_form_field label,
.th-conversion form .mphb-required-fields-tip{
  margin-left: 10px;
}



/* Hidden confirmation button sytling */
.mphb-reserve-room-section.frm_submit, .mphb-reserve-room-section.frm_submit p {
  text-align: left;
  font-size: 14px;
  color: #5d5d5d;
  font-weight: normal;
}

.th-conversion form .mphb-reserve-room-section.frm_submit, .th-conversion form  .mphb-reserve-room-section.frm_submit p {
  width: 225px;
}

// Inline Form for hidden button
.th-conversion form .mphb-reserve-room-section.frm_submit p{
  margin-left:14px
}

// Stacked form style for booking form.
.elementor-widget-themo-mphb-booking-form .th-form-stacked {
  padding: 5px;
}