body {
  .mphb_sc_checkout-form {
	.mphb-check-in-date {
		margin-bottom: 0.875rem;
	}
    h3 {
      @include font-size(1.75);
      line-height: (34/28);
      margin-bottom: 0.8em;
      @media screen and (min-width: $screen-sm-min) {
        @include font-size($font-size__h1-px);
        line-height: $line-height__h1;
      }
    }
    & > section:not(:first-of-type), .mphb-total-price {
      border-top: 1px solid $color__gray-base;
      margin-top: 3.1em;
      padding-top: 3.2em;
    }
    .mphb-price-breakdown {
      margin-top: 2.9em;
    }

  }
  .mphb_sc_checkout-services-list {
    select {
      width: 70px;
      display: inline-block;

    }
  }
  .mphb-gateways-list {
    .mphb-gateway-description {
      @include font-size($font-size__sm);
      line-height: ($line-height__sm);
      label {
      }
    }
    @media screen and (min-width: $screen-sm-min) {
      input[type='checkbox'] {
        margin-top: 0.25em;
      }
    }

  }

}

.mphb-room-details {
  border-top: 1px solid #e0e0e0;
  margin-top: 3.1em;
  padding-top: 3.2em;
}

/* Coupon Details */
.mphb_sc_checkout-form .mphb-coupon-code-wrapper.mphb-checkout-section {
  padding-top: 14px;
}

.mphb-room-details .mphb-room-number {
  margin-top: 0;
}

h4.mphb-services-details-title {
  margin-top: 28px;
}

.mphb_sc_checkout-form > .mphb-checkout-section:not(:first-of-type),
.mphb_cb_checkout_form > .mphb-checkout-section:not(:first-of-type){
  margin-top: 3.1em;
}

/* price breakdown bootstrap styling */
.mphb-price-breakdown.table .table {
  background-color: inherit;
}

.mphb-price-breakdown{
  width: 100%;
  max-width: 100%;
}

.mphb-price-breakdown>caption+thead>tr:first-child>td, .mphb-price-breakdown>caption+thead>tr:first-child>th, .mphb-price-breakdown>colgroup+thead>tr:first-child>td, .mphb-price-breakdown>colgroup+thead>tr:first-child>th, .mphb-price-breakdown>thead:first-child>tr:first-child>td, .mphb-price-breakdown>thead:first-child>tr:first-child>th {
  border-top: 0;
}

.mphb-price-breakdown>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.mphb-price-breakdown>tbody>tr>td, .mphb-price-breakdown>tbody>tr>th, .mphb-price-breakdown>tfoot>tr>td, .mphb-price-breakdown>tfoot>tr>th, .mphb-price-breakdown>thead>tr>td, .mphb-price-breakdown>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.mphb-price-breakdown>tbody>tr>td, .mphb-price-breakdown>tbody>tr>th, .mphb-price-breakdown>tfoot>tr>td, .mphb-price-breakdown>tfoot>tr>th, .mphb-price-breakdown>thead>tr>td, .mphb-price-breakdown>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.mphb-price-breakdown>tbody>tr:hover {
  background-color: #f5f5f5;
}


/****************
HOTEL / CHECKOUT / Bellevue Custom Styling
****************/

/* Reset submit to auto width */
.mphb_sc_checkout-submit-wrapper.frm_submit input{
  width: auto;
}

/* Submit button top margin */
.mphb_sc_checkout-submit-wrapper.frm_submit{
  margin-top: 40px;

}

/* Payment gateway radios / line height */
.mphb_sc_checkout-form .mphb-gateways-list > li, .mphb_cb_checkout_form .mphb-gateways-list > li {
  margin-top: inherit;;
}

/* Payment gateway radio labels / Size, Margin */
section#mphb-billing-details label {
  font-size: 16px;
  margin-left: 8px;
}

/* Price output */
.mphb-total-price output{
  font-size:18px;
}

/* Room Details */

.themo_mphb_room_details ul.mphb-loop-room-type-attributes {
  padding-left: 0;
}

/* Room Serivce - hide from Elementor page editor */
body.elementor-page .content-editor .mphb-price-title,
body.elementor-page .content-editor .mphb-price-wrapper{display:none}


/* Adult & Child Chooser */
.mphb_sc_checkout-wrapper.frm_forms.with_frm_style
.mphb-reserve-rooms-details .mphb-adults-chooser label,
.mphb_sc_checkout-wrapper.frm_forms.with_frm_style
.mphb-reserve-rooms-details .mphb-children-chooser label,
.mphb_sc_checkout-wrapper.frm_forms.with_frm_style
.mphb-reserve-rooms-details .mphb-guest-name-wrapper label,
.mphb_sc_checkout-wrapper.frm_forms.with_frm_style
.mphb-coupon-code-wrapper label{
  display: block;
}

/* Checkboxes */
.th-form-stacked .mphb_sc_checkout-wrapper.frm_forms.with_frm_style form input[type="checkbox"],
.th-form-stacked .mphb_sc_checkout-wrapper.frm_forms.with_frm_style form input[type="radio"]{
  width:auto !important;
  height:auto !important;
}

.th-form-stacked .mphb_sc_checkout-wrapper.frm_forms.with_frm_style form .mphb_sc_checkout-services-list,
.mphb_sc_checkout-wrapper.frm_forms.with_frm_style form .mphb_sc_checkout-services-list,
.th-form-stacked .mphb_sc_checkout-wrapper.frm_forms.with_frm_style form .mphb-gateways-list,
.mphb_sc_checkout-wrapper.frm_forms.with_frm_style form .mphb-gateways-list{
  padding-left:0px;
}

/* WooCommerce Label */
section#mphb-billing-details label{
  margin-left:0;
}

/* Checkout page - checkbox label font size */
.with_frm_style .frm_checkbox label.mphb-checkbox-label{
  font-size: 14px;
}

/* Checkout page - radio label  */
section#mphb-billing-details label.mphb-radio-label{
  margin-left: 4px;
}
/* Checkout page - radio description */
.with_frm_style .frm_radio .mphb-gateway-description {
  font-size: 14px;
  line-height: 20px;
  margin-left: 20px;
}


/* Checkout page - checkbox label select input
.frm_forms .frm_form_field.frm_checkbox select,
.frm_forms .frm_form_field.frm_checkbox number{
  height: 28px;
  width: inherit;
}*/

.th-fo-form.th-form-stacked .frm_forms .frm_form_field.mphb_sc_checkout-services-list input[type='number'],
.frm_forms .frm_form_field.mphb_sc_checkout-services-list input[type='number'],
.th-fo-form.th-form-stacked .frm_forms .frm_form_field.mphb_sc_checkout-services-list input[type='select'],
.frm_forms .frm_form_field.mphb_sc_checkout-services-list input[type='select']{
  display: inline-block;
  width: 70px !important;
  height: 28px !important;;
}

/* Checkout page - Rate top margin */
.mphb-price-breakdown-rate {
  margin: 11px 0 0;
}

/* Checkout button text */
.frm_forms .mphb_sc_checkout-submit-wrapper.frm_submit .button {
  font-size: 15px;
}