body {
  .mphb_sc_rooms-wrapper .mphb-room-type:not(:first-of-type), .mphb_sc_search_results-wrapper .mphb-room-type:not(:first-of-type), .mphb_sc_services-wrapper .mphb-service:not(:first-of-type) {
    border-top: 1px solid $color__gray-base;
    margin-top: 2em;
    padding-top: 5em;
  }
}

.mphb_sc_search_results-info {
  text-align: center;
}

.mphb-to-book-btn-wrapper {
  form {
    margin: 0;
  }
}

.mphb_sc_search_results-wrapper,
.mphb_sc_rooms-wrapper,
.mphb_sc_room-wrapper {
  h3 {
    display: none;
  }
  .mphb-room-type-title {
    text-align: left;
    @include font-size(1.75);
    line-height: (34/28);
    margin-top: 1.8em;
    margin-bottom: 0.63em;
    @media screen and (min-width: $screen-sm-min) {
      @include font-size($font-size__h1-px);
      line-height: $line-height__h1;
    }
  }
  .mphb-view-details-button-wrapper, .mphb-to-book-btn-wrapper {
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.6em;
    vertical-align: top;
  }
}

.mphb-rooms-quantity-wrapper select {
  display: inline-block;
  width: auto;
  margin-right: 1em;
}

.mphb-reserve-room-section  {
  .button {
    margin-bottom: $margin-bottom__main-xs;
    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: $margin-bottom__main;
    }
  }
}
.mphb_sc_search-form .mphb_sc_search-children + p,
.mphb_sc_search-form .mphb_sc_search-adults + p:not(.mphb_sc_search-children){
  clear: both;
}


/****************
HOTEL / SEARCH FORM / Bellevue Custom Styling
****************/

// Booking Form inputs
.mphb_sc_search-wrapper input{
  width:auto;
}

// Adult Child Select Dropdowns
.frm_forms.with_frm_style .frm_form_field label
{
  margin-top:5px;
}

.mphb_sc_search-form .mphb_sc_search-children {
  padding-left: 0;
}

.mphb_sc_search-form .mphb_sc_search-adults.frm_form_field,
.mphb_sc_search-form .mphb_sc_search-children.frm_form_field {
  clear: none;
  width: auto;
}

// Required tips
.mphb-required-fields-tip{
  text-align: left;
}

// Calendar popup fields
.mphb_sc_search-check-in-date.frm_form_field, .mphb_sc_search-check-out-date.frm_form_field {
  text-align: left;
}

// Conversion / inline styles
.th-conversion div.mphb-hide{
  display: none !important;
}

.th-conversion form .frm_form_field label,
.th-conversion form .mphb-required-fields-tip{
  margin-left: 12px;
}

//Mobile

.th-conversion .mphb_sc_search-form .mphb_sc_search-adults.frm_form_field,
.th-conversion .mphb_sc_search-form .mphb_sc_search-children.frm_form_field {
  width: auto;
  float: none;
  padding:0;
}

.th-conversion .mphb_sc_search-form .mphb_sc_search-adults.frm_form_field label,
.th-conversion .mphb_sc_search-form .mphb_sc_search-children.frm_form_field label{
  margin-left: inherit;
}

/*
 * SEARCH RESULTS - INFORMATION & RECOMMENDATIONS
 */

/* Search Results Info */
.mphb_sc_search_results-info{
  margin: 0;
  padding: 20px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 3px 3px 3px 3px;
}

/* Test Border */
.themo_mphb_search_cart_wrapper, .themo_mphb_search_recommend_wrapper{
  border-width:0px;
  border-style: solid;
  border-color:#e2e2e2;
}
/* Recommended Spacing */
.themo_mphb_search_recommend_wrapper{
  margin:10px 0;
  padding:10px 0 0;
}

/* Title */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style h2.mphb-recommendation-title{
  margin-top:5px;
}

/*
 * SEARCH RESULTS - CART
 */

/* Cart Wrapper Spacing */
.themo_mphb_search_cart_wrapper{
  margin:0;
  padding:0;
}

.themo_mphb_search_cart_wrapper .mphb-reservation-cart:not(.mphb-empty-cart){
  margin:30px 0
}

/* Cart Spacing */
.themo_mphb_search_cart_wrapper .mphb-reservation-cart{
  margin-bottom:0;
}

/* Cart Empty Spacing */
.themo_mphb_search_cart_wrapper .mphb-reservation-cart:not(.mphb-empty-cart){
  padding:20px 20px;
  border-width:1px;
  border-style: solid;
  border-color:#e2e2e2;
  border-radius: 3px 3px 3px 3px;
}

.mphb-cart-total-price:not(.mphb-empty-cart){
  margin-bottom:0px;
}

/*
 * SEARCH RESULTS - ROOM DETAILS
 */

/* Room Gallery */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .flexslider{
  background:none;
}

/* Room Gallery - Thumb */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .flexslider .thumbnail{
  border:none;
  padding:0px;
}

/* Room Gallery - Nav */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-flexslider .flexslider ul.flex-direction-nav a.flex-next:before, .mphb_sc_search_results-wrapper.frm_forms.with_frm_style .flexslider ul.flex-direction-nav a.flex-next:before, .mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-flexslider .flexslider ul.flex-direction-nav a.flex-prev:before, .mphb_sc_search_results-wrapper.frm_forms.with_frm_style .flexslider ul.flex-direction-nav a.flex-prev:before{
  line-height:40px;
}

/* Room Details */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-room-type{
  padding-top:0px;
}

/* Title */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-room-type-title, .mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-room-type-title, .mphb_sc_room-wrapper .mphb-room-type-title{
  margin-top:12px;
}

/* Attributes */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-room-type ul.mphb-loop-room-type-attributes{
  margin:15px 0;
  padding:15px 0;
  border:0px #CCC solid;
}

/* Prices */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-room-type p.mphb-regular-price{
  margin:10px 0;
  padding:10px 0;
  border:0px #CCC solid;
}

/* View Details Link */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-room-type p.mphb-view-details-button-wrapper{
  margin:0;
  padding:10px 0;
  border:0px #CCC solid;
}

/*
 * SEARCH RESULTS - Room Booking Reserve Form
 */

/* Reserve Form Wrapper */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-reserve-room-section.frm_form_field{
  margin:10px 0;
  padding:10px 0;
  border:0px #CCC solid;
}
/* Quantity Wrapper */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-rooms-quantity-wrapper{
  margin:5px 0;
  padding:5px 0;
  border:0px #CCC solid;
}

/* Reservation Message Wrapper */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-rooms-reservation-message{
  margin:5px 0;
  padding:5px 0;
  border:0px #CCC solid;
}

/* Book Button */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-book-button, .mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-confirm-reservation{
  margin:10px 0;
}

/* Bottom Border */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-room-type{
  border-top:none;
}

.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-room-type {
  border-bottom: 1px #e2e2e2 solid;}

.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-room-type:last-child{
  border-bottom:none;
}

/* Search Results Select Height */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style select {
  height: 30px;
}

/* Search Results Room Selection Padding */
.mphb_sc_search_results-wrapper.frm_forms.with_frm_style .mphb-reserve-room-section.frm_form_field {
  margin: 10px 0;
  padding: 0px 0 10px 0;
  border: 0px #CCC solid;
}