
.homepage-widget-area {
  .widget_mphb_search_availability_widget {
    .mphb-required-fields-tip {
      display: none;
    }
    .mphb_widget_search-submit-button-wrapper {
      width: 156px;
      min-width: 156px;
      .button {
        width: 100%;
        @media screen and (min-width: $screen-sm-min) {
          height: 4.3em;
          padding: 1.3em 1em;
        }
      }
    }
    @media screen and (min-width: $screen-sm-min) {
      input[type='text'].mphb-datepick.is-datepick, select {
        background-position: right 0.9em top 1em;
      }
    }
    select,
    input[type="text"] {
      width: 100%;
      @media screen and (min-width: $screen-sm-min) {
        padding: 0.6em 2em 0.8em 1em;
        height: 3em;
        @include font-size($font-size__h5-px);
      }
    }
    form {
      @include __flex();
      @include align_items(flex-end);
      @include flex-wrap(wrap);
      @media screen and (min-width: $screen-sm-min) {
        //@include flex-wrap(nowrap);
        @include justify-content(center);
      }
      p {
        width: 100%;
        margin: 0;
        padding: 1.25em 0 0 0;
        @media screen and (min-width: $screen-sm-min) {
          padding: 1.25em 1.25em 0 0;
          max-width: 349px;
        }
      }
      p:last-of-type {
        padding-right: 0;
      }
      .mphb_widget_search-adults,
      .mphb_widget_search-children {
        width: 138px;
        min-width: 138px;
        padding-right: 1.25em;
      }
    }
  }
}

.mphb-widget-room-type-title {
  font-family: $font__header;
  a {
    color: inherit
  }
}

body .mphb_widget_rooms-wrapper .mphb-widget-room-type-book-button {
  margin-top: 2em;
  margin-bottom: 0;
}
